@model JobOpportunities.UI.MVC.Models.UserAccountViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<h2>ChangePassword</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>UserAccountViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control",id="mail" } })
                @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control",id="pass" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", id = "passC" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btnChange" value="Guncelle" class="btn btn-success" />

            </div>
        </div>
    </div>
}



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@section script{
    <script>
        $(document).click(function () {
            $("#btnChange").click(function () {
                var newPassword = {
                    "Password": $("#pass").val(),
                    "Mail": $("#mail").val()
                }
                if ($("#pass").val() == $("#passC").val() ) {


                    $.ajax({
                        url: "/Student/ChangedPassword/",
                        data: newPassword,
                        type: "POST",
                        success: function (resp) {
                            if (resp == "ok") {
                                //alert("Şifreni Başarılı bir şekilde değiştirildi");
                                window.location.reload();
                                alert("");
                            }
                            else {
                                alert("Hatalı işlem");
                                console.log(resp);
                            }
                        },
                        error: function (err) {
                            alert("AJAX İsteği Başarısız oldu");
                            console.log(err);
                        }
                    });
                }
                else {
                    alert("Şifreler Uyuşmuyor");
                }
            });    
        });
    </script>
    }